@model NewsWeb.Views.ViewModels.PostCreateVM



<form method="post" enctype="multipart/form-data">
    <div class="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info">Add Category</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Post.Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Post.Title" class="form-control" />
                        <span asp-validation-for="Post.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Post.Content"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Post.Content" class="form-control"></textarea>
                        <span asp-validation-for="Post.Content" class="text-danger"></span>
                    </div>
                </div>



                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Post.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Post.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            @*<option disabled selected>Vui lòng chọn Category</option>*@
                        </select>
                        <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Post.PostTags"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="@Model.SelectListTagIds" asp-items="@Model.TagSelectList" class="form-control" multiple>
                            <option disabled selected>Vui lòng chọn Tag</option>
                        </select>
                        <span asp-validation-for="Post.PostTags" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <input type="submit" value="Create" class="btn btn-info" onclick="return validateInput()" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section ScriptsValidate {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}